<footer class="footer-wrap js-footer">
	<div class="page-wrap">
		<div class="footer clearfix">
			<div class="footer__item footer__item--logo">
				<span class="logo">Строй Монтаж.</span>
				<p>Группа компаний "СтройМонтаж" 1998-2018</p>
			</div>

			<div class="footer__item footer__item--menu">
				<div class="footer-menu">
					<div class="footer-head">Меню</div>

					<ul class="footer-menu__list">
						<li class="footer-menu__item"><span><a href="#" class="footer-menu__link">О компании</a></span></li>
						<li class="footer-menu__item"><span><a href="#" class="footer-menu__link">Сотрудничество</a></span></li>
						<li class="footer-menu__item"><span><a href="#" class="footer-menu__link">Продукция</a></span></li>
						<li class="footer-menu__item"><span><a href="#" class="footer-menu__link">Наши партнёры</a></span></li>
						<li class="footer-menu__item"><span><a href="#" class="footer-menu__link">Новости</a></span></li>
						<li class="footer-menu__item"><span><a href="#" class="footer-menu__link">Представительства</a></span></li>
					</ul>
				</div>
			</div>

			<div class="footer__item footer__item--subscribe">
				<div class="footer-head">Подпишитесь на нашу расылку</div>

				<form class="form-subscribe">
					<p>Подпишитесь и первыми узнайте об актуальных новостях и акциях компании</p>
					<div class="form-subscribe__title">Ваш email</div>
					<input type="text" placeholder="stroymontag@gmail.com" required>
					<input type="submit" value="Подписаться" class="btn">
				</form>
			</div>

			<div class="footer__item footer__item--contact">
				<div class="footer-head">Контакты</div>
				<div class="footer-contact">
					<div class="footer-contact__adress">Россия, г. Тверь, ул. Индустриальная, 13</div>
					<div class="footer-contact__phone"><a href="tel:+78005559325">+7 (800) 555-9325</a></div>
					<div class="footer-contact__mail"><a href="mailto:info@stroymontag.ru">info@stroymontag.ru</a></div>
				</div>
			</div>
		</div>
	</div>
</footer>