/*----------- Card -------------*/
.card-list{
	margin-top: 54px;

	&__item{
		padding: 35px;
	}

	&__head{
		@include font(normal, 500, 30px, 40px, $color-text);
		letter-spacing: -1px;
		margin-bottom: 14px;
	}

	&__text{
		@include font(normal, 400, 15px, 24px, rgba(51,50,64,0.68));
		letter-spacing: -0.15px;
		margin-bottom: 24px;
	}
}
