/*-------------- Header -----------------*/
.main-top{
	background: url(#{$path-img}/bg-main-top.jpg) no-repeat 0 0;
	padding-top: 20px;
	padding-bottom: 42px;
}

.header-wrap{
	background: #452560;
}

/* header */
.header{
	display: table;
	width: 100%;
	padding: 42px 0;
	position: relative;
	// background: #452560;

	&__logo,
	&__nav,
	&__btn,
	&__hamburger{
		display: table-cell;
		vertical-align: middle;
	}

	&__logo{
		width: 325px;
	}

	&__hamburger,
	&__btn{
		text-align: right;
	}

	&__hamburger{
		padding-left: 20px;
		width: 50px;
	}
}

/* top-menu */
.top-menu{
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;

	&__item{
		margin: 0;
		list-style: none;
		display: inline-block;
		vertical-align: middle;
		position: relative;
	}

	&__link{
		padding: 10px 24.5px;
		@include font(normal, 400, 15px, 1.4, #fff);
		text-decoration: none;
	}

	&__link:hover{
		color: $color-yellow;
		cursor: pointer;
	}

	&__link::after{
		content: '';
		display: block;
		height: 5px;
		width: 100%;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -56px;
		background: $color-yellow;
		display: none;
	}

	&__link:hover::after,
	&__link.current::after{
		display: block;
	}
}

@keyframes head-slide{
	0% {margin-left: -100%;}
	50% {margin-left: 250px;}
	100% {margin-left: 250px;}
}

@-webkit-keyframes head-slide{
	0% {margin-left: -100%;}
	50% {margin-left: 250px;}
	100% {margin-left: 250px;}
}

@keyframes text-slide{
	0% {margin-left: 100%;}
	50% {margin-left: 100%;}
	100% {margin-left: 250px;}
}

@-webkit-keyframes text-slide{
	0% {margin-left: 100%;}
	50% {margin-left: 100%;}
	100% {margin-left: 250px;}
}

// top-slider
.top-slider-wrap{
	position: relative;
	padding: 30px 95px;
	margin-top: 138px;
	height: 440px;
	overflow: hidden;
}

.top-slider-counter{
	@include font(normal, 400, 15px, 30px, #fff);
	position: absolute;
	left: 0;
	top: 123px;
}

.top-slider{
	position: relative;
	height: 100%;

	&__item{
		height: 380px;
	}

	&__head{
		@include font(normal, 900, 77px, 96px, #fff);
		display: none;
		margin-left: -100%;
		letter-spacing: -0.15px;
	}

	.owl-item.no-anim-text &__head{
		margin-left: 250px;
	}

	.owl-item.anim-text &__head{
		animation: head-slide 1.5s 1 ease;
		animation-fill-mode: forwards;
	}

	&__head-top{
		color: $color-yellow;
	}

	&__head-bottom{
		margin-top: 8px;
	}

	&__text{
		@include font(normal, 400, 15px, 30px, #fff);
		padding-left: 3px;
		margin-top: 22px;
		display: none;
		margin-left: 100%;
		letter-spacing: -0.1px;
	}

	.owl-item.no-anim-text &__text{
		margin-left: 250px;
	}

	.owl-item.anim-text &__text{
		animation: text-slide 1.5s 1 ease;
		animation-fill-mode: forwards;
	}

	&::before{
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: rgba(255,255,255,0.15);
		position: absolute;
		left: 0;
		right: 0;
		top: 108px;
		margin: 0 auto;
	}

	&.owl-theme .owl-nav{
		position: absolute;
		right: -70px;
		top: 93px;
		// background: white;
		margin: 0;
	}

	&.owl-theme .owl-nav [class*="owl-"]{
		background: transparent;
		border: 0;
		outline: 0;
		position: relative;
		width: 7px;
		height: 12px;
		cursor: pointer;
		transform: translate3d(0, 0, 0);
		position: relative;
		top: 50%;
		margin: 0;
	}

	&.owl-theme .owl-nav [class*="owl-"] i{
		position: absolute;
		top: 40%;
		left: 0;
		width: 9px;
		height: 3px;
		border-radius: 1.5px;
		background: #fff;
		transition: all 0.15s ease;
	}

	&.owl-carousel .owl-nav button.owl-prev{
		right: 58%;
	}

	&.owl-carousel .owl-nav button.owl-prev i{
		transform-origin: 0% 50%;
	}

	&.owl-carousel .owl-nav button.owl-prev i:first-child {
		transform: translate(0, -1px) rotate(50deg);
	}
	&.owl-carousel .owl-nav button.owl-prev i:last-child {
		transform: translate(0, 1px) rotate(-50deg);
	}
	&.owl-carousel .owl-nav button.owl-prev:hover i:first-child {
		transform: translate(0, -1px) rotate(40deg);
	}
	&.owl-carousel .owl-nav button.owl-prev:hover i:last-child {
		transform: translate(0, 1px) rotate(-40deg);
	}
	&.owl-theme .owl-nav [class*="owl-"].disabled{
		cursor: auto;
	}

	&.owl-theme .owl-nav [class*="owl-"].disabled:hover i:first-child,
	&.owl-theme .owl-nav [class*="owl-"].disabled i:first-child {
		transform: translate(-3px, 0) rotate(0deg);
	}
	&.owl-theme .owl-nav [class*="owl-"].disabled:hover i:last-child,
	&.owl-theme .owl-nav [class*="owl-"].disabled i:last-child {
		transform: translate(-3px, 0) rotate(0deg);
	}

	&.owl-carousel .owl-nav button.owl-next{
		left: 58%;
	}
	&.owl-carousel .owl-nav button.owl-next i {
		transform-origin: 100% 50%;
	}
	&.owl-carousel .owl-nav button.owl-next i:first-child {
		transform: translate(0, 1px) rotate(50deg);
	}
	&.owl-carousel .owl-nav button.owl-next i:last-child {
		transform: translate(0, -1px) rotate(-50deg);
	}
	&.owl-carousel .owl-nav button.owl-next:hover i:first-child {
		transform: translate(0, 1px) rotate(40deg);
	}
	&.owl-carousel .owl-nav button.owl-next:hover i:last-child {
		transform: translate(0, -1px) rotate(-40deg);
	}
	&.owl-carousel .owl-nav button.owl-next:active i:first-child {
		transform: translate(1px, 1px) rotate(25deg);
	}
	&.owl-carousel .owl-nav button.owl-next:active i:last-child {
		transform: translate(1px, -1px) rotate(-25deg);
	}
	&.owl-carousel .owl-nav button.owl-next[data-state="disabled"] i:first-child {
		transform: translate(3px, 0) rotate(0deg);
	}
	&.owl-carousel .owl-nav button.owl-next[data-state="disabled"] i:last-child {
		transform: translate(3px, 0) rotate(0deg);
	}
	&.owl-carousel .owl-nav button.owl-next[data-state="disabled"]:hover i:first-child {
		transform: translate(3px, 0) rotate(0deg);
	}
	&.owl-carousel .owl-nav button.owl-next[data-state="disabled"]:hover i:last-child {
		transform: translate(3px, 0) rotate(0deg);
	}

	&.owl-theme .owl-nav [class*="owl-"][data-state="disabled"] {
		opacity: 0.3;
		cursor: default;
	}

}

.owl-carousel .owl-item.active .top-slider__head,
.owl-carousel .owl-item.active .top-slider__text{
	display: block;
}

/* top-info */
.top-info{
	display: table;
	width: 100%;
	padding: 38px 0;

	&__copyright,
	&__nav,
	&__social{
		display: table-cell;
		vertical-align: middle;
	}

	&__nav,
	&__copyright{
		@include font(normal, 400, 13px, 30px, rgba(255,255,255,0.68));
		letter-spacing: -0.2px;
	}

	&__copyright {
		width: 345px;
	}

	&__nav span{
		vertical-align: middle;
	}
}

.top-info__nav .btn-scroll{
	margin-right: 13px;
}

/* social-list */
.social-list{
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;

	&__item{
		margin: 0;
		padding: 0;
		list-style: none;
		float: left;
		padding: 0 8px;
		position: relative;
	}

	&__item:not(:last-child)::after{
		content: '·';
		position: absolute;
		right: 0;
		@include top-center;
	}

	&__item:last-child{
		padding-right: 0;
	}

	&__item:not(:last-child)::after,
	&__link{
		@include font(normal, 500, 13px, 30px, #fff);
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: -0.1px;
	}

	&__link:hover{
		color: $color-yellow;
	}
}

@media (max-width: 1500px) {
	@keyframes head-slide{
		0% {margin-left: -100%;}
		50% {margin-left: 143px;}
		100% {margin-left: 143px;}
	}

	@-webkit-keyframes head-slide{
		0% {margin-left: -100%;}
		50% {margin-left: 143px;}
		100% {margin-left: 143px;}
	}

	@keyframes text-slide{
		0% {margin-left: 100%;}
		50% {margin-left: 100%;}
		100% {margin-left: 143px;}
	}

	@-webkit-keyframes text-slide{
		0% {margin-left: 100%;}
		50% {margin-left: 100%;}
		100% {margin-left: 143px;}
	}

	.header__logo{
		width: 220px;
	}

	.top-menu__link{
		padding: 10px 16px;
	}

	.top-slider__item{
		padding-left: 0;
	}

	.owl-item.no-anim-text .top-slider__text,
	.owl-item.no-anim-text .top-slider__head{
		margin-left: 143px
	}

	.top-info__copyright{
		width: 245px;
	}
}


@media (max-width: 1279px) {
	.top-menu__link{
		padding: 8px 16px;
		display: block;
	}

	.top-menu__link::after{
		bottom: 0;
	}

	.top-info__nav{
		width: 370px;
		padding-right: 15px;
	}
}

@media (max-width: 991px) {
	@keyframes head-slide{
		0% {margin-left: -100%;}
		50% {margin-left: 0;}
		100% {margin-left: 0;}
	}

	@-webkit-keyframes head-slide{
		0% {margin-left: -100%;}
		50% {margin-left: 0;}
		100% {margin-left: 0;}
	}

	@keyframes text-slide{
		0% {margin-left: 100%;}
		50% {margin-left: 100%;}
		100% {margin-left: 0;}
	}

	@-webkit-keyframes text-slide{
		0% {margin-left: 100%;}
		50% {margin-left: 100%;}
		100% {margin-left: 0;}
	}

	.owl-item.no-anim-text .top-slider__text,
	.owl-item.no-anim-text .top-slider__head{
		margin-left: 0;
	}

	.top-slider__head{
		font-size: 66px;
	}

	.top-slider-wrap{
		margin-top: 40px;
		height: auto;
	}

	.top-info{
		display: block;
	}

	.top-info__copyright,
	.top-info__nav,
	.top-info__social{
		display: inline-block;
	}

	.top-info__social{
		width: 100%;
	}

	.social-list{
		float: none;
		margin-top: 15px;
	}

	.social-list__item:first-child{
		padding-left: 0;
	}
}

@media (max-width: 767px) {
	.header__nav{
		position: absolute;
		top: calc(100% - 48px);
		right: 0;
		background: #fff;
		color: $color-text;
		z-index: 10;
		border-radius: 2px;
		z-index: 25;
		width: 0;
		height: 0;
		transition: width, height;
		transition-duration: .3s;
	}

	.header__nav nav{
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.header__nav.open{
		width: 100%;
		height: 227px;
		border: 1px solid #e4e3e7;
	}

	.top-menu__item:not(:last-child){
		border-bottom: 1px solid #e4e3e7;
	}

	.top-menu__item{
		display: block;
	}

	.top-menu__link{
		color: $color-text;
	}

	.top-menu__link:hover::after,
	.top-menu__link.current::after{
		display: none;
	}

	.top-menu__link:hover,
	.top-menu__link.current{
		color: $color-yellow;
	}
}
