<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>О компании</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper">
			<div class="header-wrap">
				<div class="page-wrap">
					//= ../header/header.html
				</div>
			</div>

			<main>
				<div class="content-wrap">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<span class="tipa-h1 stroke-left">О компании</span>
								<p class="indent-left">Вдохновляющий дизайн.<br>
								Расширение возможностей посредством технологий. </p>
							</div>
						</div>
					</div>
				</div>

				<img src="img/about-company.jpg" alt="" style="margin-top: 25px;">

				<div class="content-wrap">
					<div class="container indent-left">
						<div class="row">
							<div class="col-12">
								<div class="label-pic">Подпись к картинке.</div>
							</div>
						</div>

						<div class="row">
							<div class="col-12">
								<div class="history">
									<div class="history__item history__item--left"><span class="history__head">Наша история</span></div>

									<div class="history__item">
										<div class="history-slider">
											<div class="history-slider-list js-history-slider owl-carousel" data-slider-id="2">
												<div class="history-slider-list__item">
													<p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта.</p>

													<p>Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа.</p>
												</div>

												<div class="history-slider-list__item">
													<p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова.</p>

													<p>Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа.</p>
												</div>

												<div class="history-slider-list__item">
													<p>Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа.</p>
												</div>

												<div class="history-slider-list__item">
													<p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта.</p>
												</div>

												<div class="history-slider-list__item">
													<p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта.</p>

													<p>Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа.</p>
												</div>

												<div class="history-slider-list__item">
													<p>Если вам нужен Lorem Ipsum для серьёзного проекта.</p>

													<p>Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа.</p>
												</div>

												<div class="history-slider-list__item">
													<p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта.</p>

													<p>Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа.</p>
												</div>

												<div class="history-slider-list__item">
													<p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта.</p>

													<p>Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа.</p>
												</div>

												<div class="history-slider-list__item">
													<p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта.</p>

													<p>Многие думают, что Lorem Ipsum.</p>
												</div>

												<div class="history-slider-list__item">
													<p>Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа.</p>
												</div>

												<div class="history-slider-list__item">
													<p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации. Если вам нужен Lorem Ipsum для серьёзного проекта.</p>

													<p>Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа.</p>
												</div>

												<div class="history-slider-list__item">
													<p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта.</p>

													<p>Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа.</p>
												</div>
											</div>

											<div class="slider-history-thumb owl-thumbs clearfix" data-slider-id="2">
												<div class="slider-history-thumb__item owl-thumb-item">1998</div>
												<div class="slider-history-thumb__item owl-thumb-item">2001</div>
												<div class="slider-history-thumb__item owl-thumb-item">2004</div>
												<div class="slider-history-thumb__item owl-thumb-item">2006</div>
												<div class="slider-history-thumb__item owl-thumb-item">2008</div>
												<div class="slider-history-thumb__item owl-thumb-item">2010</div>
												<div class="slider-history-thumb__item owl-thumb-item">2012</div>
												<div class="slider-history-thumb__item owl-thumb-item">2014</div>
												<div class="slider-history-thumb__item owl-thumb-item">2015</div>
												<div class="slider-history-thumb__item owl-thumb-item">2016</div>
												<div class="slider-history-thumb__item owl-thumb-item">2017</div>
												<div class="slider-history-thumb__item owl-thumb-item">2018</div>
											</div>
										</div>

										<p>Абзац 1.10.32 "de Finibus Bonorum et Malorum",<br>написанный Цицероном в 45 году н.э.</p>
									</div>

									<div class="history__item history__item--right">
										<div class="advant-box">
											<div class="advant-box__text">Более</div>
											<div class="advant-box__head">5 135+</div>
											<div class="advant-box__text">наименований товаров<br>в ассортименте</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="moving-text-wrap">
					<div class="moving-text js-moving-text">
						<div class="moving-text__top" title="Основан в 1998"></div>
						<div class="moving-text__bot" title="Основан в 1998"></div>
						<div class="moving-text__line"></div>
					</div>
				</div>

				<div class="content-wrap">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="history-text">
									<p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца.</p>

									<div class="advant-box-wrap">
										<div class="advant-box-wrap__item">
											<div class="advant-box advant-box--big">
												<div class="advant-box__head">60</div>
												<div class="advant-box__text">Lorem ipsum dolor sit amet, consectetur</div>
											</div>
										</div>
										
										<div class="advant-box-wrap__item">
											<div class="advant-box advant-box--big">
												<div class="advant-box__head">1999</div>
												<div class="advant-box__text">Lorem ipsum dolor sit amet, consectetur</div>
											</div>
										</div>

										<div class="advant-box-wrap__item">
											<div class="advant-box advant-box--big">
												<div class="advant-box__head">50%</div>
												<div class="advant-box__text">Lorem ipsum dolor sit amet, consectetur</div>
											</div>
										</div>

										<div class="advant-box-wrap__item">
											<div class="advant-box advant-box--big">
												<div class="advant-box__head">+15%</div>
												<div class="advant-box__text">Lorem ipsum dolor sit amet, consectetur</div>
											</div>
										</div>

										<div class="advant-box-wrap__item">
											<div class="advant-box advant-box--big">
												<div class="advant-box__head">158</div>
												<div class="advant-box__text">Lorem ipsum dolor sit amet, consectetur</div>
											</div>
										</div>

										<div class="advant-box-wrap__item">
											<div class="advant-box advant-box--big">
												<div class="advant-box__head">+10М</div>
												<div class="advant-box__text">Lorem ipsum dolor sit amet, consectetur</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cooperation">
					<div class="content-wrap">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="cooperation__text">
										<span class="tipa-h1 stroke-left">Сотрудничество</span>
										<p class="indent-left">Всегда на выгодных условиях.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="card-list">
					<div class="content-wrap">
						<div class="container">
							<div class="row">
								<div class="col-4">
									<div class="card-list__item">
										<div class="card-list__head">Дилерам</div>
										<div class="card-list__text">Классический текст Lorem Ipsum, используемый с XVI века, приведён ниже. Также даны разделы 1.10.32 и 1.10.33 "de Finibus Bonorum et Malorum" Цицерона и их английский перевод, сделанный H. Rackham, 1914 год.</div>
										<div class="card-list__btn"><a href="#" class="btn-white">Связать с менеджером</a></div>
									</div>
								</div>

								<div class="col-4">
									<div class="card-list__item">
										<div class="card-list__head">Оптовым покупателям</div>
										<div class="card-list__text">Классический текст Lorem Ipsum, используемый с XVI века, приведён ниже. Также даны разделы 1.10.32 и 1.10.33 "de Finibus Bonorum et Malorum" Цицерона и их английский перевод, сделанный H. Rackham, 1914 год.</div>
										<div class="card-list__btn"><a href="#" class="btn-white">Связать с менеджером</a></div>
									</div>
								</div>

								<div class="col-4">
									<div class="card-list__item">
										<div class="card-list__head">Дизайнерам интерьеров</div>
										<div class="card-list__text">Классический текст Lorem Ipsum, используемый с XVI века, приведён ниже. Также даны разделы 1.10.32 и 1.10.33 "de Finibus Bonorum et Malorum" Цицерона и их английский перевод, сделанный H. Rackham, 1914 год.</div>
										<div class="card-list__btn"><a href="#" class="btn-white">Связать с менеджером</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				
				<div class="form-wrap bg-grey" style="margin-bottom: -100px;">
					<div class="form-site form-site-cooperation">
						<form class="js-form-validator" method="post" id="contact-form">
							<div class="form-site__head">Давайте сотрудничать:</div>

							<div class="form-site__fields clearfix">
								<div class="form-site__item form-site__item--full">
									<label for="name" class="form-site__label">Имя *</label>
									<input type="text" id="name" required>
								</div>

								<div class="form-site__item">
									<label for="email" class="form-site__label">Email *</label>
									<input type="email" id="email" required>
								</div>

								<div class="form-site__item">
									<label for="phone" class="form-site__label">Номер телефона *</label>
									<input type="text" id="phone" required>
								</div>

								<div class="form-site__item form-site__item--full">
									<label for="phone" class="form-site__label">Сообщение</label>
									<textarea placeholder="Введите ваше сообщение сюда"></textarea>
								</div>
							</div>

							<input type="submit" value="Отправить сообщение" class="btn btn--big">
							<!-- <span class="alert alert-success" role="alert">Ваше сообщение успешно отправлено</span> -->
						</form>
					</div>
				</div>
<!-- 
					<div class="container">
			<div class="row">
				<div class="col-1"><div class="box">1</div></div>
				<div class="col-1"><div class="box">2</div></div>
				<div class="col-1"><div class="box">3</div></div>
				<div class="col-1"><div class="box">4</div></div>
				<div class="col-1"><div class="box">5</div></div>
				<div class="col-1"><div class="box">6</div></div>
				<div class="col-1"><div class="box">7</div></div>
				<div class="col-1"><div class="box">8</div></div>
				<div class="col-1"><div class="box">9</div></div>
				<div class="col-1"><div class="box">10</div></div>
				<div class="col-1"><div class="box">11</div></div>
				<div class="col-1"><div class="box">12</div></div>
			</div>
		</div> -->
			</main>
			//= ../footer/footer.html
		</div>
		
		//= ../footer/footer-script.html
	</body>
</html>
