<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Главная страница</title>
	//= ../header/header-link.html
	</head>
	<body class="page js-page">
		<div class="wrapper">
			<div class="main-top">
				<div class="page-wrap">
					//= ../header/header.html

					<div class="top-slider-wrap">
						<div class="top-slider-counter js-t-counter"></div>

						<div class="top-slider js-top-slider owl-carousel owl-theme">
							<div class="top-slider__item">
								<div class="top-slider__head">
									<div class="top-slider__head-top">270 офисов</div>
									<div class="top-slider__head-bottom">по всей России</div>
								</div>

								<div class="top-slider__text">Мы постоянно развиваем и совершенствуем собственную розничную<br>и дилерскую  сеть,  с каждым годом наших представительств<br>становится все больше.</div>
							</div>

							<div class="top-slider__item">
								<div class="top-slider__head">
									<div class="top-slider__head-top">20 офисов</div>
									<div class="top-slider__head-bottom">по всей России</div>
								</div>

								<div class="top-slider__text">Мы постоянно развиваем и совершенствуем собственную розничную.</div>
							</div>

							<div class="top-slider__item">
								<div class="top-slider__head">
									<div class="top-slider__head-top">28 офисов</div>
									<div class="top-slider__head-bottom">по всей России</div>
								</div>

								<div class="top-slider__text">Мы постоянно развиваем и совершенствуем собственную розничную<br>и дилерскую  сеть,  с каждым годом наших представительств<br>становится все больше.</div>
							</div>

							<div class="top-slider__item">
								<div class="top-slider__head">
									<div class="top-slider__head-top">56 офисов</div>
									<div class="top-slider__head-bottom">по всей России</div>
								</div>

								<div class="top-slider__text">Мы постоянно развиваем и совершенствуем собственную розничную<br>и дилерскую  сеть,  с каждым годом наших представительств<br>становится все больше.</div>
							</div>

							<div class="top-slider__item">
								<div class="top-slider__head">
									<div class="top-slider__head-top">1500 офисов</div>
									<div class="top-slider__head-bottom">по всей России</div>
								</div>

								<div class="top-slider__text">Мы постоянно развиваем и совершенствуем собственную розничную<br>и дилерскую  сеть,  с каждым годом наших представительств.</div>
							</div>
						</div>
					</div>

					<div class="top-info">
						<div class="top-info__copyright">© 1998 – 2018</div>
						<div class="top-info__nav"><a href="#link-poduct" class="btn-scroll js-link-move"></a><span>Прокрутите или перетащите для навигации</span></div>

						<div class="top-info__social clearfix">
							<ul class="social-list clearfix">
								<li class="social-list__item"><a href="#" class="social-list__link">FACEBOOK</a></li>
								<li class="social-list__item"><a href="#" class="social-list__link">INSTAGRAM</a></li>
								<li class="social-list__item"><a href="#" class="social-list__link">Одноклассники</a></li>
								<li class="social-list__item"><a href="#" class="social-list__link">Вконтакте</a></li>
								<li class="social-list__item"><a href="#" class="social-list__link">YOUTUBE</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<main>
				<div class="content-wrap">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div id="link-poduct"></div>
								<div class="product-head">
									<div class="product-head__item"><span class="tipa-h1 stroke-left">Продукция компании<br>&ldquo;СтройМонтаж&rdquo;</span></div>
									<div class="product-head__item product-head__item--right"><a href="/product.html" class="link-site">Перейти в раздел &ldquo;Продукция&rdquo;</span></div>
								</div>
							</div>
						</div>
					</div>

					<div class="product-list-main js-product-list">
						<div class="container">
							<div class="row">
								<div class="col-sm-6 col-lg-3">
									<div class="product-list-main__item js-product-item" style="background-image: url(img/product1.jpg);">
										<div class="product-list-main__content">
											<div class="product-list-main__name">Окна</div>
											<div class="product-list-main__text">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</div>
											<div class="product-list-main__link"><a href="#">Перейти</a></div>
											<div class="product-list-main__share"><a href="#" class="btn-share"></a></div>
										</div>
									</div>
								</div>

								<div class="col-sm-6 col-lg-3">
									<div class="product-list-main__item js-product-item" style="background-image: url(img/product2.jpg);">
										<div class="product-list-main__content">
											<div class="product-list-main__name">Балконы</div>
											<div class="product-list-main__text">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</div>
											<div class="product-list-main__link"><a href="#">Перейти</a></div>
											<div class="product-list-main__share"><a href="#" class="btn-share"></a></div>
										</div>
									</div>
								</div>

								<div class="col-sm-6 col-lg-3">
									<div class="product-list-main__item js-product-item" style="background-image: url(img/product3.jpg);">
										<div class="product-list-main__content">
											<div class="product-list-main__name">Натяжные потолки</div>
											<div class="product-list-main__text">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</div>
											<div class="product-list-main__link"><a href="#">Перейти</a></div>
											<div class="product-list-main__share"><a href="#" class="btn-share"></a></div>
										</div>
									</div>
								</div>

								<div class="col-sm-6 col-lg-3">
									<div class="product-list-main__item js-product-item" style="background-image: url(img/product4.jpg);">
										<div class="product-list-main__content">
											<div class="product-list-main__name">Шкафы-купе</div>
											<div class="product-list-main__text">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</div>
											<div class="product-list-main__link"><a href="#">Перейти</a></div>
											<div class="product-list-main__share"><a href="#" class="btn-share"></a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="about-company">
					<div class="about-company__item about-company__item--slider">
						<div class="slider-about">
							<div class="slider-about-list js-slider-about owl-carousel" data-slider-id="1">
								<div class="slider-about-list__item">
									<img src="img/about-slider1.jpg" alt="">
									<div class="slider-about-list__play-wrap">
										<div class="slider-about-list__play"><a data-fancybox data-width="854" data-height="480" href="video/video-test1.mp4"class="btn-play"><i></i></a></div>
										<div class="slider-about-list__label">Как мы работаем</div>
									</div>
								</div>

								<div class="slider-about-list__item">
									<img src="img/about-slider2.jpg" alt="">
									<div class="slider-about-list__play-wrap">
										<div class="slider-about-list__play"><a data-fancybox data-width="640" data-height="360" href="http://download.blender.org/peach/bigbuckbunny_movies/BigBuckBunny_320x180.mp4" class="btn-play"><i></i></a></div>
										<div class="slider-about-list__label">Как мы работаем</div>
									</div>
								</div>
								<div class="slider-about-list__item">
									<img src="img/about-slider3.jpg" alt="">
									<div class="slider-about-list__play-wrap">
										<div class="slider-about-list__play"><a data-fancybox data-width="640" data-height="360" href="video/video-test2.mp4" class="btn-play"><i></i></a></div>
										<div class="slider-about-list__label">Как мы работаем</div>
									</div>
								</div>
							</div>
							<div class="slider-about-thumb owl-thumbs clearfix" data-slider-id="1">
								<div class="slider-about-thumb__item owl-thumb-item" style="background-image: url('img/about-slider1-small.jpg');"></div>
								<div class="slider-about-thumb__item owl-thumb-item" style="background-image: url('img/about-slider2-small.jpg');"></div>
								<div class="slider-about-thumb__item owl-thumb-item" style="background-image: url('img/about-slider3-small.jpg');"></div>
								<a href="#" class="slider-about-thumb__more"><span>+12</span></a>
							</div>
						</div>
					</div>

					<div class="about-company__item about-company__item--text">
						<div class="about-company__text">
							<div class="tipa-h1 stroke-left">О компании</div>
							<p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст. " Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения.</p>
							<a href="#" class="link-site">Перейти в раздел &ldquo;О компании&rdquo;</a>
						</div>
					</div>
				</div>

				<div class="news-company" style="margin-bottom: -100px;">
					<div class="content-wrap">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="news-company__head">
										<div class="tipa-h1 stroke-left">Новости компании</div>
									</div>
								
									<div class="slider-news js-slider-news owl-carousel owl-theme">
										<div class="slider-news__item">
											<div class="slider-news__date">Февраль 26, 2018</div>
											<div class="slider-news__head"><a href="#">Белый – всегда в моде!<br>Наша спеццена напотолки белого цвета — от 168 руб/м2!</a></div>
										</div>

										<div class="slider-news__item">
											<div class="slider-news__date">Февраль 28, 2018</div>
											<div class="slider-news__head"><a href="#">Стильная коллекция люстр и бра от минимализма до изящной классики!</a></div>
										</div>

										<div class="slider-news__item">
											<div class="slider-news__date">Март 15, 2018</div>
											<div class="slider-news__head"><a href="#">Прямо сейчас скидка на резные потолки Apply по подарочному купону!</a></div>
										</div>

										<div class="slider-news__item">
											<div class="slider-news__date">Март 28, 2018</div>
											<div class="slider-news__head"><a href="#">Скидки на покупку окон достигают 37% — на окна с монт и 42% — на окна без монтажа.</a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
			//= ../footer/footer.html
		</div>

		
		//= ../footer/footer-script.html
	</body>
</html>
