<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Главная страница</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper">
			<div class="main-top">
				<div class="page-wrap">
					//= ../header/header.html

					<div class="top-slider-wrap">
						<div class="top-slider-counter js-t-counter"></div>

						<div class="top-slider js-top-slider owl-carousel owl-theme">
							<div class="top-slider__item">
								<div class="top-slider__head">
									<div class="top-slider__head-top">270 офисов</div>
									<div class="top-slider__head-bottom">по всей России</div>
								</div>

								<div class="top-slider__text">Мы постоянно развиваем и совершенствуем собственную розничную<br>и дилерскую  сеть,  с каждым годом наших представительств<br>становится все больше.</div>
							</div>

							<div class="top-slider__item">
								<div class="top-slider__head">
									<div class="top-slider__head-top">20 офисов</div>
									<div class="top-slider__head-bottom">по всей России</div>
								</div>

								<div class="top-slider__text">Мы постоянно развиваем и совершенствуем собственную розничную.</div>
							</div>

							<div class="top-slider__item">
								<div class="top-slider__head">
									<div class="top-slider__head-top">28 офисов</div>
									<div class="top-slider__head-bottom">по всей России</div>
								</div>

								<div class="top-slider__text">Мы постоянно развиваем и совершенствуем собственную розничную<br>и дилерскую  сеть,  с каждым годом наших представительств<br>становится все больше.</div>
							</div>

							<div class="top-slider__item">
								<div class="top-slider__head">
									<div class="top-slider__head-top">56 офисов</div>
									<div class="top-slider__head-bottom">по всей России</div>
								</div>

								<div class="top-slider__text">Мы постоянно развиваем и совершенствуем собственную розничную<br>и дилерскую  сеть,  с каждым годом наших представительств<br>становится все больше.</div>
							</div>

							<div class="top-slider__item">
								<div class="top-slider__head">
									<div class="top-slider__head-top">1500 офисов</div>
									<div class="top-slider__head-bottom">по всей России</div>
								</div>

								<div class="top-slider__text">Мы постоянно развиваем и совершенствуем собственную розничную<br>и дилерскую  сеть,  с каждым годом наших представительств.</div>
							</div>
						</div>
					</div>

					<div class="top-info"></div>
				</div>
			</div>
		</div>

		
	
		<!-- <div class="container">
			<div class="row">
				<div class="col-1"><div class="box">1</div></div>
				<div class="col-1"><div class="box">2</div></div>
				<div class="col-1"><div class="box">3</div></div>
				<div class="col-1"><div class="box">4</div></div>
				<div class="col-1"><div class="box">5</div></div>
				<div class="col-1"><div class="box">6</div></div>
				<div class="col-1"><div class="box">7</div></div>
				<div class="col-1"><div class="box">8</div></div>
				<div class="col-1"><div class="box">9</div></div>
				<div class="col-1"><div class="box">10</div></div>
				<div class="col-1"><div class="box">11</div></div>
				<div class="col-1"><div class="box">12</div></div>
			</div>
		</div> -->
		//= ../footer/footer-script.html
	</body>
</html>
