<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Продукция</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper">
			<div class="header-wrap">
				<div class="page-wrap">
					//= ../header/header.html
				</div>
			</div>

			<main>
				<div class="content-wrap">
					<div class="container">
						<div class="row">
							<div class="col-12">
								
								<div class="product-head">
									<div class="product-head__item"><span class="tipa-h1 stroke-left">Продукция компании &ldquo;СтройМонтаж&rdquo;</span></div>
								</div> 
							</div>
						</div>
					</div>

					<div class="product-list">
						<div class="container">
							<div class="row">
								<div class="col-6">
									<div class="product-list__item" style="background-image: url(img/product-list1.jpg);">
										<div class="product-list__content">
											<div class="product-list__content-item">
												<div class="product-list__name">Пластиковые окна</div>
												<div class="product-list__text">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</div>
												<div class="product-list__link"><a href="#">Перейти</a></div>
											</div>
											<div class="product-list__content-item">
												<div class="product-list__icon"><img src="img/ic-window.png" alt=""></div>
												<div class="product-list__share"><a href="#" class="btn-share"></a></div>
											</div>
										</div>
										<div class="product-list__stroke"></div>
									</div>
								</div>

								<div class="col-6">
									<div class="product-list__item" style="background-image: url(img/product-list2.jpg);">
										<div class="product-list__content">
											<div class="product-list__content-item">
												<div class="product-list__name">Жалюзи</div>
												<div class="product-list__text">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</div>
												<div class="product-list__link"><a href="#">Перейти</a></div>
											</div>
											<div class="product-list__content-item">
												<div class="product-list__icon"><img src="img/ic-blind.png" alt=""></div>
												<div class="product-list__share"><a href="#" class="btn-share"></a></div>
											</div>
										</div>
									</div>
								</div>

								<div class="col-6">
									<div class="product-list__item" style="background-image: url(img/product-list3.jpg);">
										<div class="product-list__content">
											<div class="product-list__content-item">
												<div class="product-list__name">Натяжные потолки</div>
												<div class="product-list__text">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</div>
												<div class="product-list__link"><a href="#">Перейти</a></div>
											</div>
											<div class="product-list__content-item">
												<div class="product-list__icon"><img src="img/ic-ceiling.png" alt=""></div>
												<div class="product-list__share"><a href="#" class="btn-share"></a></div>
											</div>
										</div>
									</div>
								</div>

								<div class="col-6">
									<div class="product-list__item" style="background-image: url(img/product-list4.jpg);">
										<div class="product-list__content">
											<div class="product-list__content-item">
												<div class="product-list__name">Алюминиевые окна</div>
												<div class="product-list__text">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</div>
												<div class="product-list__link"><a href="#">Перейти</a></div>
											</div>
											<div class="product-list__content-item">
												<div class="product-list__icon"><img src="img/ic-window-alum.png" alt=""></div>
												<div class="product-list__share"><a href="#" class="btn-share"></a></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
			//= ../footer/footer.html
		</div>
		
		//= ../footer/footer-script.html
	</body>
</html>
