<header>
	<div class="header">
		<div class="header__logo"><span class="logo">Строй Монтаж.</span></div>

		<div class="header__nav js-header-nav">
			<nav>
				<ul class="top-menu js-top-menu">
					<li class="top-menu__item"><a href="/about.html" class="top-menu__link">О компании</a></li>
					<li class="top-menu__item"><a href="#" class="top-menu__link">Сотрудничество</a></li>
					<li class="top-menu__item"><a href="#" class="top-menu__link current">Продукция</a></li>
					<li class="top-menu__item"><a href="#" class="top-menu__link">Наши партнеры</a></li>
					<li class="top-menu__item"><a href="#" class="top-menu__link">Новости</a></li>
					<li class="top-menu__item"><a href="#" class="top-menu__link">Представительства</a></li>
				</ul>
			</nav>
		</div>

		<div class="header__btn"><a href="/contact.html" class="btn">Контакты</a></div>
		<div class="header__hamburger d-md-none">
			<div class="c-hamburger js-hamburger"><span></span></div>
		</div>
	</div>
</header>