*,
*:before,
*:after {
	box-sizing: border-box;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

textarea {
	resize: vertical;
}

// .box{
// 	height: 800px;
// 	background: red;
// }

html,
body{
	background: #fff;
	font-family: $font-site;
	@include font(normal, 400, 15px, 1.4, $color-text);
}

main{
	padding: 132px 0 100px;
}

a{
	color: $color-yellow;
}

a:hover,
a:active,
a:focus{
	text-decoration: none;
}

p{
	@include font(normal, 400, 15px, 24px, $color-text);
	padding: 5px 0;
}

h1,
.tipa-h1{
	@include font(normal, 700, 42px, 46px, $color-text);
	letter-spacing: -0.15px;
}

h2,
.tipa-h2{
	@include font(normal, 500, 32px, 48px, $color-text);
}

h3,
.tipa-h3{
	@include font(normal, 400, 32px, 45px, $color-text);
}

h4,
.tipa-h4{
	@include font(normal, 400, 28px, 36px, $color-text);
}

h5,
.tipa-h5{
	@include font(normal, 400, 24px, 30px, $color-text);
}

h6,
.tipa-h6{
	@include font(normal, 400, 18px, 24px, $color-text);
}

.wrapper{
	width: 100%;
	max-width: 1903px;
	margin: 0 auto;
}

.page-wrap{
	width: 1703px;
	margin: 0 auto;
}

.logo{
	font-family: $font-site;
	@include font(normal, 400, 18px, 1, #fff);
	text-transform: uppercase;
	letter-spacing: 1.5px;
	white-space: nowrap;
}

.btn{
	display: inline-block;
	height: 50px;
	border-radius: 25px;
	background: $color-yellow;
	@include font(normal, 400, 15px, 48px, #fff);
	text-transform: uppercase;
	padding: 0 38px;
	text-align: center;

	&:hover{
		background: #eacb60;
	}
}

input[type="submit"].btn{
	display: inline-block;
	height: 44px;
	border-radius: 22px;
	background: $color-yellow;
	@include font(normal, 500, 15px, 42px, #fff);
	padding: 0 18px;
	text-align: center;
}

.code{
	background-color: #f7f7f7;
	border: 1px solid #e1e1e8;
	color: #d14;
	padding: 1px 4px;
	display: inline-block;
	font-family: monospace, arial;
	border-radius: 3px;
}

.h-text-left{text-align: left !important;}
.h-text-center{text-align: center !important;}
.h-text-right{text-align: right !important;}
.h-text-justify{text-align: justify !important;}
.h-text-uppercase{text-transform: uppercase !important;}
.h-text-bold {font-weight: 700 !important;}

.swiper-container {
	width: 600px;
	height: 300px;
}

.btn-scroll{
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: $color-yellow url(#{$path-img}/arr-down.png) no-repeat center;
	cursor: pointer;
	vertical-align: middle;
	position: relative;

	&::before{
		content: '';
		display: block;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background: transparent;
		border: 1px solid rgba(254,254,254,0.15);
		position: absolute;
		left: -5px;
		@include top-center;
	}

	&:hover{
		border-color: rgba(254,254,254,0.5);
	}
}

.stroke-left{
	display: inline-block;
	padding-left: 27px;
	border-left: 5px solid $color-yellow;
}

.link-site{
	@include font(normal, 500, 15px, 30px, $color-yellow);
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	letter-spacing: -0.4px;
	position: relative;


	&::after{
		content: '';
		display: block;
		width: 100%;
		height: 3px;
		background: $color-yellow;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		bottom: -7px;
	}

	&:hover::after{
		display: none;
	}
}

.btn-share{
	display: inline-block;
	width: 53px;
	height: 53px;
	border-radius: 50%;
	background: url(#{$path-img}/ic-share.png) no-repeat center;
	border: 1px solid rgba(252,252,252,0.35);
	cursor: pointer;

	&:hover{
		border-color: rgba(252,252,252,0.5);
	}
}

.btn-play{
	display: inline-block;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	background: rgba(255,255,255,0.15);
	position: relative;
	z-index: 1;
	text-align: center;

	&::after{
		content: '';
		display: block;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		background: $color-yellow;
		position: absolute;
		left: 0;
		right: 0;
		@include top-center;
		margin: 0 auto;
		z-index: 2;
	}

	i{
		display: inline-block;
		position: absolute;
		left: 0;
		right: 0;
		@include top-center;
		width: 15px;
		height: 20px;
		margin: 0 auto;
		z-index: 3;
	}

	i::after{
		content: '';
		display: inline-block;
		border: 10px solid transparent;
		border-left: 15px solid #fff;
		
	}
}